* {
    padding: 0;
    margin: 0;
    font-family: lato;
}

body {
    flex-direction: column;
}

.title-container img {
    width: 350px;
    height: 250px;
    border-radius: 5px;
}

.foods img {
    width: 200px;
    height: 200px;
    border: #3882f6;
    border-radius: 10px;
    border-style: solid;
    border-width: 3px;
}

.header {
    background-color: #1F2937;
    flex-direction: column;
    padding: 0px 150px 100px 150px;
    gap: 70px;
}

.nav-bar {
    align-items: center;
    height: 60px;
    gap: 20px;
}

.title-container {
    justify-content: space-between;
    gap: 30px;
    align-items: center;
}

.logo {
    margin-right: auto;
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 900;
}


a {
    text-decoration: none;
}

a:hover,
a:active,
a:visited,
a,
.title p,
.signup-banner button,
.signup-banner .big,
.signup-banner .small,
.footer {
    color: #E5E7EB;
}

.title h2 {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

.title {
    flex-direction: column;
    gap: 10px;
}

a,
.title p {
    font-size: 18px;
}

.title button {
    width: 100px;
    background-color: #3882f6;
    border-radius: 10px;
    height: 30px;
    border-width: 0;
    color: #F9FAF8;
    font-weight: bold;
    font-size: 16px;
    
}

.information {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 70px;
}

.foods-container {
    gap: 80px;
}

.information h2 {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    margin: 40px;
}

.foods {
    width: 200px;
}

.foods p {
    text-align: center;
}

.quote-container {
    flex-direction: column;
    background-color: #e5e7eb;
    padding: 100px 150px;
    justify-content: center;
    gap: 10px;
    align-items: center;
}

.quote-container .quote {
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
    max-width: 500px;
}

.quote-container .credit {
    align-self: flex-end;
}

.signup {
    justify-content: center;
    align-items: center;
    padding: 60px 100px
}

.signup-banner {
    background-color:#3882f6;
    border-radius: 7px;
    padding: 30px 60px;
    width: 550px;
    justify-content: space-between;
    align-items: center;
}

.signup-banner button {
    background-color: #3882f6;
    border-width: 2px;
    border-color: #E5E7EB;
    border-style: solid;
    padding: 5px 20px;
    border-radius: 5px;
    font-weight: 900;
    flex-shrink: 0;
}

.signup-banner .big {
    font-size: 25px;
    font-weight: bolder;
}

.footer {
    background-color: #1F2937;
    align-items: center;
    justify-content: center;
    padding: 40px;
}

body,
.header,
.nav-bar,
.title-container,
.title,
.information,
.foods-container,
.quote-container,
.signup,
.signup-banner,
.footer {
    display: flex;
}